{% extends "main/base.html" %}
{% block content %}
<div class="container mt-4">
    
    <h1>Welcome to the To-Do List App!</h1>
    
    <div>
      <p>This application helps you stay organized by managing your tasks efficiently. Here's what you can do:</p>
      <ul>
        <li>Create multiple lists to categorize tasks.</li>
        <li>Add, edit, and delete tasks within each list.</li>
        <li>Check off completed tasks for easy tracking.</li>
        <li>Effortlessly uncheck tasks when needed.</li>
      </ul>
    </div>
</div>
{% endblock %}