{% extends "main/base.html" %}
{% block content %}
<div class="container m-3">
    <h2>All your List</h2>
    <ul class="list-group">
        {% for list in lists %}
            <li  class="list-group-item d-flex justify-content-between">
                <a href="{{list.id}}">{{list.name}}</a>
                <div>
                    <a href="{% url 'editList' id=list.id %}" class="btn btn-outline-secondary"><i class="fas fa-edit"></i></a>                    
                    <a href="{% url 'deleteList' id=list.id %}" class="btn btn-outline-secondary"><i class="fas fa-trash-alt"></i></a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}